body {
  margin: 0px;
  padding: 0px;
}

main {
  box-sizing: border-box;
  display: block;
  margin: 0px auto;
  max-width: 800px;
  padding: 10px 20px;
  width: 100%;
}

canvas {
  height: 250px;
  margin: 0px auto;
  width: 100%;
  min-width: 500px;
}

.hori-scroll {
  width: 100%;
  overflow-y: auto;
}

.cetner {
  display: block;
  margin: auto;
  width: 100%;
}

:root {
  --mdc-theme-primary: #1b4e57;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #d8d8d8;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #f77070;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5)
}

.table-wrap{
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
}

tr {
  color: var(--mdc-theme-secondary);
  text-align: center;
}

th {
  background-color: var(--mdc-theme-secondary);
  color: var(--mdc-theme-on-primary);
}

td, th {
  border: 1px solid var(--mdc-theme-secondary);
  padding: 10px;
  white-space: nowrap;
}